<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymleaf.org">
<head th:replace="admin/include/css :: css"></head>


<body class="skin-blue">
	<!--   <div th:replace="admin/include/css::css"></div> -->
	<div class="wrapper">

		<div th:replace="admin/include/header::header"></div>
		<!-- Left side column. contains the logo and sidebar -->

		<div th:replace="admin/include/aside::aside"></div>

		<!-- Right side column. Contains the navbar and content of the page -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Dashboard <small>Control panel</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Dashboard</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">

				<div class="container">

					<h2 class="bg-primary text-white">Modification</h2>
					<form action="modificationPanne" method="post">
						<div class="form-group">
							<div>
								<!-- 					<label for="idPanne">id:</label><input type="text" name="idPanne" -->
								<!-- 						class="form-control" th:value="${panne.idPanne}"></input> -->
							</div>
							
							<input type="hidden"
									name="idPanne" class="form-control"
									th:value="${panne.idPanne}"></input>
							<div>
								<label for="datePanne">Date panne:</label><input type="date"
									name="dateP" class="form-control"
									th:value="${#dates.format(panne.datePanne,'YYYY-MM-dd')}"></input>
							</div>
							<div>
								<label for="typePanne">Type:</label><input type="text"
									name="typePanne" class="form-control" th:value="${panne.typePanne}"></input>
							</div>
							<div>
								<label for="montant">Montant:</label><input type="number"
									name="montant" class="form-control" th:value="${panne.montant}"></input>
							</div>
							<div>
								<label for="description">Description:</label><input type="text"
									name="description" class="form-control"
									th:value="${panne.description}"></input>
							</div>


							<div>
								<input type="submit" name="enregistrer" class="btn btn-default"></input>
							</div>
						</div>

					</form>
				</div>

			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<footer th:replace="admin/include/footer::footer"></footer>
	</div>
	<!-- ./wrapper -->
	<footer th:replace="admin/include/js::js"></footer>
</body>
</html>